@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Lunatech code assessment") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <div class="row">
        <div class="small-6 large-4 columns">
            <a href="/query" class="button">Query</a><br/>
        </div>
        <div class="small-6 large-4 columns">
            <a href="/reports" class="button">Reports</a><br/>
        </div>

    </div>

}
